body{
		background-color: rgb(133,133,133);
	}
	
	.nav{		
		/*width: 148px;
		height: 694px;
		background-color: rgb(43,43,43);	
		float: left;	*/
		margin-left: 220px;
		position: fixed;
	    top: 0;
	    bottom: 0;
	    z-index: 10000;
	    width: 148px;
	    border-left: 1px solid #212121;
	    border-right: 1px solid #212121;
	    background: #2b2b2b;
	    min-height: 100%;
	    text-align: left;
	    position: absolute;
	    left: 0;
	    z-index: auto;
	}

	#H1{
		margin-left: 12px;
		color: white;
	}


	.navi{
		list-style: none;
		margin-left:-40px;
	}

	a{
		text-decoration: none;
	}

	.navi>li>a {
	    display: block;
	    overflow: hidden;
	    height: 39px;
	    background: url(https://ssl.pstatic.net/static/movie/2013/10/sp_nav.png) no-repeat;
	    vertical-align: top;
	}


	.navi>li>a>strong {
    display: block;
    text-indent: -9999px;
	}

	.navi>li>a.menu01 {
    background-position: 0 0;
	}

	.navi>li>a.menu01_on {
    background-position: -150px 0;
	}
	.navi>li>a.menu02 {
	    background-position: 0 -39px;
	}
	.navi>li>a.menu02_on {
    	background-position: -150px -39px;
	}

	.navi_sub {
		list-style: none;
	}

	.navi>li ul.navi_sub {
    padding: 2px 0 12px 15px;
    border-bottom: 1px solid #2c2c2c;
    background: #474747;
	}

	.navi>li ul.navi_sub li a {
	    display: block;
	    overflow: hidden;
	    width: 120px;
	    height: 15px;
	    margin-top: 9px;
	    background: url(https://ssl.pstatic.net/static/movie/2016/03/sp_nav2.png) no-repeat -9999px -9999px;
	}

	.navi>li ul.navi_sub li a.sub2_1_on{background-position:-150px 0}

	.navi>li ul.navi_sub li a em {
	    display: block;
	    text-indent: -9999px;
	}
	.navi>li>a.menu05 {
    background-position: 0 -156px;
	}
	
	#obj {
   		position: absolute;
   		left: 400px;
   		top: 80px;
   		width: 775px;
	}